/* Removes html default styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Colours background behind information cards */
body {
  background-color: #d9dcd6;
}

/* HEADER*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
}

/* Changes text colour and font size in */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* colours the "seo" in the company name a light grey */
.seo {
  color: #d1d3cf;
}

/* This styles the navigation href links */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* allows the  list of navigation links to be beside eachother */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Used to style all <a href> links' text such as the navigation links*/
a {
  color: #ffffff;
  text-decoration: none;
}

/* all the paragraphs on the page follow this font-size */
p {
  font-size: 16px;
}

/* A.K.A jumbotron, this styles the first big picture users see. */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Aligns main content cards 1 & 3 to the left*/
.float-left {
  float: left;
  margin-right: 25px;
}

/* Aligns main content cards 2 to the right*/
.float-right {
  float: right;
  margin-left: 25px;
}

/* This is used on the container that holds the .main-content-card <div> element */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Main Content Cards - these are used on the dividers that hold the headings, imgs & text */
.main-content-card {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* main content card headings styles*/
.main-content-card h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* main content card image styles*/
.main-content-card img {
  max-height: 200px;
}

/* right side card that lists benefits. This
is the main stlying for the card that hold them. */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Each of the 3 listed benefits has their own <div>
tag to seperate from eachother. */
.benefit-content {
  margin-bottom: 32px;
  color: #ffffff;
}

/* styles the small heading used inside each .benefit-content division. */
.benefit-content h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* image styling for .benefit-content division */
.benefit-content img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* FOOTER */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* footer heading2 style*/
footer h2 {
  font-size: 20px;
}
